@navbar-outer-height: 50px;
body {
    padding-top: @navbar-outer-height + 5;
}

.navbar-fixed-top {
    height: @navbar-outer-height;
}

.logo {
    float: left;
    width: 40px;
    margin: 9px;
}

.navbar-brand {
    font-size: 25px;
    line-height: 20px;
}

.bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.list-group .btn {
    float: right;
}
